html,
body {
  height: 100%;
  width: 100%;
}

#container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 20% 60% 20%;
}

#login-form-body {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-start: 2;

  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);

  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

#login-header {
  margin: 20px 20px 10px 20px;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-item {
  margin: 10px 0px 10px 0px;
}

.input-fields {
  padding: 13px 23px 7px 10px;
  border-radius: 6px;
  border: 2px solid rgba(22, 100, 185, 0.9);
}

#username-input-field {
  margin: 10px 0px 5px 0px;
}

#pass-input-field {
  margin: 5px 0px 10px 0px;
}

#username-validate-msg-popup {
  padding: 20px;
  margin: 20px 20px 20px 5px;
  color: #fe6a6c;
  text-align: left;
  font-size: 2rem;
  list-style-type: none;
  border-color: rgba(255, 0, 0, 0.4);
  border: 2px solid;
  border-radius: 15px;
  font-family: "Open Sans", sans-serif;

  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.2);

  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-start: 2;
}

.validation-msg-popup-container {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-start: 2;

  display: grid;
  grid-template-columns: 5% 75% 20%;
  grid-template-rows: 10% 65% 25%;
}

#password-validate-msg {
  font-size: 1.5rem;
  color: #fe6a6c;
}

#login-button {
  padding: 8px 15px;
  font-size: 22px;
  margin-top: 15px;
}

.labels {
  text-align: left;
}

.hide {
  display: none;
}

.invalid-input {
  border: 2px solid red;
}

#ref {
  background: red;
  width: 100px;
  height: 100px;
}

#pop {
  background: green;
  width: 100px;
  height: 100px;
}

/**
 * For simplicity, the arrow will be just a square.
 * You can style your arrow to look like a triangle
 * and use the `[x-placement]` attribute to control
 * its direction in relation to the reference element.
 */
#pop [x-arrow] {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: green;
}

/**
 * We need to add margin to the side
 * touching the reference element
 * to address for the arrow size
 */
#pop[x-placement="bottom"] {
  margin-top: 10px;
}
#pop[x-placement="left"] {
  margin-right: 10px;
}
#pop[x-placement="top"] {
  margin-bottom: 10px;
}
#pop[x-placement="right"] {
  margin-left: 10px;
}

/**
 * The arrow element lives *inside* the popper
 * so we need to offset it by its size to position
 * it outside the popper element.
 */
#pop[x-placement="bottom"] [x-arrow] {
  top: -10px;
}
#pop[x-placement="left"] [x-arrow] {
  right: -10px;
}
#pop[x-placement="top"] [x-arrow] {
  bottom: -10px;
}
#pop[x-placement="right"] [x-arrow] {
  left: -10px;
}
