html,
body {
  height: 100%;
  width: 100%;
}

#container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 20% 60% 20%;
}

#login-form-body {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-start: 2;

  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

#login-header {
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-item {
  margin: 10px 0px 10px 0px;
}

.input-fields {
  padding: 13px 23px 7px 10px;
  border-radius: 6px;
  border: 2px solid rgba(22, 100, 185, 0.9);
}

#login-button {
  padding: 8px 15px;
  font-size: 22px;
  margin-top: 15px;
}

.labels {
  text-align: left;
}

.hide {
  display: none;
}
